<footer id="footer-section">
    <div class="footer-all">
        <div class="senac-direitos">
            <img src="/assets/img/Logo.svg" alt="Senac">
            <p>Senac, 2021<br>Todos os direitos reservados</p>
        </div>

        <!-- Menus/Links do footer -->
        <ul>
            <h4>Institucionais</h4>
            <li><a href="http://www.ba.senac.br/Unidades/Index">Unidades</a></li>
            <li><a href="https://transparencia.senac.br/#/ba/licitacoes">Licitações</a></li>
            <li><a href="http://www.ba.senac.br/Noticias">Notícias</a></li>
            <li><a href="http://www.ba.senac.br/Transparencia">Transparência</a></li>
            <li><a href="https://www.ba.senac.br/FaleConosco">Fale conosco</a></li>
        </ul>

        <ul>
            <h4>Cursos</h4>
            <li><a href="https://cursos.ba.senac.br/">Presenciais</a></li>
            <li><a href="http://www.ead.senac.br/polos/BA">EAD</a></li>
            <li><a href="https://www.ba.senac.br/psg">SENAC Gratuidade</a></li>
            <li><a href="https://www.ba.senac.br/ResultadoSelecao">Resultados</a></li>
        </ul>

        <ul>
            <h4>Serviços</h4>
            <li><a href="http://www.ba.senac.br/Servicos/salao_de_eventos">Salão de festas</a></li>
            <li><a href="http://www.ba.senac.br/Servicos/bibliotecas">Bibliotecas</a></li>
            <li><a href="http://www.ba.senac.br/museu">Museu</a></li>
            <li><a href="http://www.ba.senac.br/Servicos/salao_de_beleza">Salão de beleza</a></li>
            <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Restaurantes</a></li>
            <li><a href="https://www.ba.senac.br/FeiraDeProfissoes">Feiras</a></li>
        </ul>
        
        <ul>
            <h4>Mercado De Trabalho</h4>
            <li><a href="http://www.ba.senac.br/MercadoDeTrabalho/para_voce">Para você</a></li>
            <li><a href="http://www.ba.senac.br/MercadoDeTrabalho/para_sua_empresa/banco-de-oportunidades">Para empresas</a></li>
            <li><a href="https://www.ba.senac.br/atendimentocorporativo">Atendimento corporativo</a></li>
        </ul>

        <ul>
            <h4>Programas</h4>
            <li><a href="https://www.ba.senac.br/Programas/jovem_aprendiz">Jovem Aprendiz</a></li>
            <li><a href="https://www.ba.senac.br/Servicos/programa_senac_seguranca_alimentar">Alimentos Seguros</a></li>
            <li><a href="https://www.ba.senac.br/Programas/senac_mais_verde">SENAC Mais Verde</a></li>
            <li><a href="https://www.ba.senac.br/psg">SENAC Gratuidade</a></li>
        </ul>
    </div>

    <!-- Redes sociais -->
    <div class="footer-socials">
        <span>
            <a href="https://www.youtube.com/user/senacbahia" target="blank">
                <img src="/assets/img/YouTube Icon.svg" alt="YouTube">
            </a>
        </span>
        <span>
            <a href="https://api.whatsapp.com/send?phone=557131864000" target="blank">
                <img src="/assets/img/WhatsApp Icon.svg" alt="WhatsApp">
            </a>
        </span>
        <span>
            <a href="https://www.facebook.com/SenacBahia" target="blank">
                <img src="/assets/img/Facebook Icon.svg" alt="Facebook">
            </a>
        </span>
        <span>
            <a href="https://www.instagram.com/senacbahia/" target="blank">
                <img src="/assets/img/Instagram Icon.svg" alt="Instagram">
            </a>
        </span>
    </div>
</footer>