<footer id="footer-section">
    <div class="footer-all">
        <div class="senac-direitos">
            <img src="/assets/img/Logo.svg" alt="Senac">
            <p>Senac, 2021<br>Todos os direitos reservados</p>
        </div>

        <!-- Menus/Links do footer -->
        <ul>
            <h4>Institucionais</h4>
            <li><a href="">Unidades</a></li>
            <li><a href="">Licitações</a></li>
            <li><a href="">Notícias</a></li>
            <li><a href="">Transparência</a></li>
            <li><a href="">Fale conosco</a></li>
        </ul>

        <ul>
            <h4>Cursos</h4>
            <li><a href="">Presenciais</a></li>
            <li><a href="">EAD</a></li>
            <li><a href="">SENAC Gratuidade</a></li>
            <li><a href="">Resultados</a></li>
        </ul>

        <ul>
            <h4>Serviços</h4>
            <li><a href="">Salão de festas</a></li>
            <li><a href="">Bibliotecas</a></li>
            <li><a href="">Museu</a></li>
            <li><a href="">Salão de beleza</a></li>
            <li><a href="">Restaurantes</a></li>
            <li><a href="">Feiras</a></li>
        </ul>
        
        <ul>
            <h4>Mercado De Trabalho</h4>
            <li><a href="">Para você</a></li>
            <li><a href="">Para empresas</a></li>
            <li><a href="">Atendimento corporativo</a></li>
        </ul>

        <ul>
            <h4>Programas</h4>
            <li><a href="">Jovem Aprendiz</a></li>
            <li><a href="">Alimentos Seguros</a></li>
            <li><a href="">SENAC Mais Verde</a></li>
            <li><a href="">SENAC Gratuidade</a></li>
        </ul>
    </div>

    <!-- Redes sociais -->
    <div class="footer-socials">
        <span>
            <a href="https://www.youtube.com/user/senacbahia" target="blank">
                <img src="/assets/img/YouTube Icon.svg" alt="YouTube">
            </a>
        </span>
        <span>
            <a href="https://api.whatsapp.com/send?phone=557131864000" target="blank">
                <img src="/assets/img/WhatsApp Icon.svg" alt="WhatsApp">
            </a>
        </span>
        <span>
            <a href="https://www.facebook.com/SenacBahia" target="blank">
                <img src="/assets/img/Facebook Icon.svg" alt="Facebook">
            </a>
        </span>
        <span>
            <a href="https://www.instagram.com/senacbahia/" target="blank">
                <img src="/assets/img/Instagram Icon.svg" alt="Instagram">
            </a>
        </span>
    </div>
</footer>