<section id="newsletter">
    <h2>Receba notícias via e-mail e fique por dentro das novidades!</h2>

    <div id="newsletter-box">
        <div id="newsletter-form">
            <input id="name" type="text" placeholder="Insira seu nome" />
            <input id="email" type="email" placeholder="Insira seu e-mail" />
            <button onclick="NLAction()">ENVIAR</button>
        </div>

        <div id="newsletter-divider"></div>
        
        <img src="/assets/img/Logosemnome.svg" />
    </div>
</section>