.mapouter {
	position: relative;
	margin: 1em auto;
	text-align: right;
	height: 100%;
	width: 95%;
}

.gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 100%;
}

#gmap_canvas {
	width: 100%;
}

.mapouter * {
	border-radius: 10px;
}