#btn-iluminacao{
    width: 5em;
    background: #0F0F0F;
    outline: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-right: -1em;
}
#limpar-contraste{
    display: none;
}
.caixa-de-acessibilidade{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 0.5em;
    padding:1em;
    margin-bottom: 2em;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.botao-acessibilidade-luz{
    background: #0F0F0F;
}
.botao-acessibilidade{
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    background: #0F0F0F ;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
.div-botao-acessibilidade{
    /* padding: 1em; */
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}
.acessibilidade-iluminacao{
    width: 50%;
}
.botao-acessibilidade:focus{
    border: 1px solid red !;
}
.fonte-magra{
    display: block;
    font-family: serif;
}
.none{
    display: none;
}
.fonte-nao-magra{
    display: none;
    font-family: serif !important;
}
.negrito-desliga{
    display: none;
}
.negrito{
    font-weight: bold;
}