@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');
@import url('header.css');

html{
    font-family: 'Sarala', sans-serif;
}
body{
    background: #0F0F0F;
}
main{
    padding: 0 1.5em;
}
.main-container-noticias{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0.5vh;
}
.noticias-cabecalho-titulo{
    font-size: 4em;
}
.noticias-cabecalho-descricao{
    font-size: 2.5em;
    margin-bottom: 3em;
}
/* insigth test*/
.social-media{
    display: flex;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 5em;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2em;

}
.social-media-img{
    width: 10%;
    margin-left: 10%;
}
.caixa-de-acessibilidade{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 2em;
    padding:3em 0;
    margin-bottom: 3em;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.font-lighter{
    font-family: serif;
    font-size: 3em !important;
}
.img-acess{
    width: 100%;
}
.btn-acess{
    font-size: 3em;
    text-align: center;
    text-decoration: none;
    color: white;
}
.light-mode{
    width: 10%;
}
.div-btn-acess{
    padding: 1em;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}
.btn-acess:focus{
    outline: 5px solid red;
}
#limpar-contraste{
    display: none;
}
/* insigth test fim*/
.main-container-noticias-imagem{
    margin: 1.5em 0;
    margin-bottom: 3em;
    border-radius: 50px;
    width: 100%;
    object-fit: cover;
}
.imagemNoticia{
    display: flex;
    justify-content: center;
    align-items: center;
}
.textoPrincipalCaixaNoticia{
    font-size: 3em;
    text-align: left;
    line-height: 1.3em;
    font-weight: 1;
    margin-bottom: 2vh;
}
.materia-news{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.receberNoticias{
    padding: 2vh;
    margin-bottom: 2vh;
}
.receberDadosUsuario{
    padding: 2vh;
    background-image: url('https://i.stack.imgur.com/1inrW.png');
    background-repeat: no-repeat;
}
.textoGenerico{
    font-size: 3em;
}
.inputNome{
    height: 3em;
    width: 30em;
    display: block;
}
.inputEmail{
    height: 3em;
    width: 30em;
    display: block;
    margin: 0.5vh 0 0.5vh;
}
.inputNome::placeholder{
    font-size: 2em;
}
.inputEmail::placeholder{
    font-size: 2em;
}
.logoReceberNoticias{
    position: absolute;
    width: 10em;
    float: left;
    margin-left: 28vh;
    margin-top: 10vh;
}
.botaoEnviar{
    font-size: 2em;
}
.adicionalNoticia{
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iframes{
    width: 100%;
    height: 600px;
}
.divisorias{
    width: 100%;
    margin-bottom: 2vh;
}
footer{
    text-align: center;
    background: yellow !important;
}
