.receberNoticias{
    padding: 2vh;
    margin-bottom: 2vh;
}
.receberDadosUsuario{
    padding: 2vh;
    background-image: url('https://i.stack.imgur.com/1inrW.png');
    background-repeat: no-repeat;
}
.textoGenerico{
    font-size: 0.8em;
}
.inputNome{
    height: 3em;
    width: 30em;
    display: block;
}
.inputEmail{
    height: 3em;
    width: 30em;
    display: block;
    margin: 0.5vh 0 0.5vh;
}
.inputNome::placeholder{
    font-size: 2em;
}
.inputEmail::placeholder{
    font-size: 2em;
}
.logoReceberNoticias{
    position: absolute;
    width: 10em;
    float: left;
    margin-left: 28vh;
    margin-top: 10vh;
}
.botaoEnviar{
    font-size: 2em;
}

.divisorias{
    margin-bottom: 2vh;
}