@import url('scrollbar.css');
@import url('header.css');
@import url('footer.css');

#newsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

@media (max-width: 1024px) {
    #newsForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: start;
        margin: 0;
    }
}