@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');
@import url('header.css');
@import url('footer.css');
@import url('newsletterForm.css');
#body-page{
    color: white;
}
.main-container{
    padding: 0 1.5em;
    font-family: 'Sarala', sans-serif;
}
.main-container-noticias{
    display: flex;
    flex-direction: column;
   /*  padding: 0.5vh; */
}
.noticias-titulo{
    font-size: 1.8em;
    text-align: left;
}
.noticias-descricao{
    font-size: 1.2em;
    margin-bottom: 1em;
    text-align: left;
}
/* adicionais de pagina*/
.compartilhar-noticia{
    display: none;
}
.midia-social{
    display: flex;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 1em;
    flex-direction: row;
    margin-bottom: 0.5em;
    justify-content: space-around;
}
.midia-social-img{
    width: 50%;
    margin-left: 10%;
}
.img-acess{
    width: 100%;
}
#btn-iluminacao{
    width: 19%;
    background: #0F0F0F;
    outline: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
#limpar-contraste{
    display: none;
}
.caixa-de-acessibilidade{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 0.5em;
    padding:1em;
    margin-bottom: 0.5em;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.botao-acessibilidade{
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    background: #0F0F0F;
    text-decoration: none;
    border: none;
    cursor: pointer;
}
.div-botao-acessibilidade{
    /* padding: 1em; */
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}
.acessibilidade-iluminacao{
    width: 100%;
}
.botao-acessibilidade:focus{
    border: 1px solid red !;
}
.fonte-magra{
    font-family: serif;
}
.fonte-nao-magra{
    display: none;
    font-family: serif !important;
}
.negrito-desliga{
    display: none;
}
/* fim adicionais de pagina*/
.main-noticias-imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8em 0;
}
.noticias-imagem{
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
}
.noticias-principal-texto{
    font-size: 1.2em;
    text-align: left;
    line-height: 1.3em;
    font-weight: 1;
    margin-bottom: 2vh;
}
@media (min-width: 1024px) {
    .main-noticias-header{
        margin: 0 10%;
        width: 90%;
    }
    .caixa-noticias-desktop{
        margin:0 10%;
        width: 55%;
    } 
    .noticias-titulo{
        font-size: 5em;
    }
    .noticias-descricao{
        font-size: 3em;
    }  
    .midia-social{
        margin-bottom: 2em;
        justify-content: flex-start;
    }
    .botao-social{
        width: 2%;
        margin:2em 2em;
    }
    .compartilhar-noticia{
        display: block;
        font-size: 2em;
    }
    .midia-social-img{
        width: 100%;
    }
    .botao-acessibilidade{
        font-size: 3em;
    }
    #btn-iluminacao{
        width: 7%;
    }
    .main-noticias-imagem{
        margin-bottom: 4%; 
    }
    .noticias-imagem{
        border-radius: 2%;
        box-shadow: 3px 2px 0px 0px rgba(0,0,0,0.59);
        -webkit-box-shadow: 3px 2px 0px 0px rgba(0,0,0,0.59);
        -moz-box-shadow: 3px 2px 0px 0px rgba(0,0,0,0.59);   
    }
    .noticias-principal-texto{
        font-size: 2.5em;
    }
}