@import url('header.css');
@import url('newsletterForm.css');

body{
    background: #0C090A;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: minmax(auto,auto) minmax(70vh,auto) minmax(10vh,auto);
    grid-template-areas:"header header"
                        "main main"
                        "footer footer"
}

header {
    grid-area:header ;
    background: yellow !important;
}

main {
    grid-area: main;
}

.caixaNoticias {
    display: flex;
    flex-direction: column;
    border-top: 4px solid purple;
    color: white;
    padding: 0.5vh;
}

.tituloNoticia {
    font-size: 1em;
}

.descricaoNoticia {
    font-size: 0.7em;
}

.noticiaImg {
    width: auto;
    object-fit: cover;
}

.imagemNoticia {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoPrincipalCaixaNoticia {
    font-size: 0.8em;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-weight: 1;
    margin-bottom: 2vh;
}

.materia-news {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.adicionalNoticia {
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iframes {
    width: 100%;
    height: 600px;
}

footer {
    grid-area:footer ;
    text-align: center;
    background: yellow !important;
}