@import url('scrollbar.css');
@import url('header.css');
@import url('footer.css');

main {
    display: flex;
    justify-content: center;
}

#admin-log {
    display: block;
    background: white;
    border-radius: 10px;
    margin: 1em auto;
    padding: .5em;
    font-size: 1.5em;
    text-align: center;
    width: 80%;
}

/* Card da notícia */

.container-edit {
    display: flex;
    width: 75%;
    flex-direction: column;
}

.btn-registrar {
    width: 16em;
    height: 3em;
    left: 20em;
    top: 10em;
    margin-bottom: 1em;
    border: none;
    background: #000000;
    color: #ffffff;
    border: 1px solid white;
    border-radius: 10px;
}

.btn-registrar:hover {
    background: #1d1d1d;
    cursor: pointer;
}

.main-noticias{
    border: 1px solid#000000;
    display: flex;
    flex-direction: row;
    background:#FFFFFF;
    color: black;
    
    min-height: 300px;
    margin-top: 3em;
    margin-bottom:1em;
    border-radius: 10px;
    overflow: hidden;
}
.noticias-imagem{
    width: 26em;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.imagem-noticia{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-color: lightgray;
    object-fit: contain;
    background-repeat: no-repeat;
    transition: all .5s;
}
.noticias-cabecalho{
    width: 90%;
    text-align: start;
    padding-left: 1em;
    transition: all .5s;
}
.noticia-titulo{
    font-weight: 700;
    font-size: 24px;
    word-wrap: break-word;
}
.noticia-descricao{
    font-weight: 400;
    font-size: 16px;
    word-wrap: break-word;
}
.noticia-titulo a{
    color: black;
}
.noticia-titulo a:hover{
    color: #0071CF;
} 
.main-noticias:hover > .noticias-imagem img{
    transform: scale(1.2);
}

.btn-noticias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 0 0.5em;
}

.btn-editar {
    width: 6em;
    height: 3em;
    left: 62em;
    top: 2em;

    background: #000000;
    color: white;
    border: none;
    border-radius: 15px;
}

.btn-editar:hover {
    background: #1d1d1d;
    cursor: pointer;
}

.btn-apagar {
    width: 6em;
    height: 3em;
    left: 62em;
    top: 2em;

    background: white;
    border: 1px solid #000000;
    color: black;
    box-sizing: border-box;
    border-radius: 15px;
}

.btn-apagar:hover {
    background: #ebebeb;
    cursor: pointer;
}

@media (max-width: 768px)  {
    .main-noticias{
        flex-direction: column;
        
    }
    .noticias-imagem {
        width: 100%;
        max-height: 100%;
        margin: 0;
    }

    .btn-noticias {
        flex-direction: row;
        padding: 0.5em 0;
    }

}

@media (max-width: 340px) {
    .btn-registrar {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1em;
    }
}

/* Formulário */

#noticias-container:not(.hide) {
    background: white;
    color: black;
    
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

#form {
    width: 100%;
}

.form-div {
    padding: 1em;
}

.form-div input, 
.form-div textarea:not(#content) {
    border-radius: 5px;
}

.form-div input, 
.form-div textarea:not(#content),
.ql-toolbar,
.ql-editor {
    background: #202020;
    color: white;
    border: none;
    margin: 0 auto;
    width: 100%;
}

.ql-toolbar {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: none !important;
    border-bottom: 1px solid white !important;
}

.ql-editor {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none !important;
    outline: unset !important;
}

.ql-toolbar button > svg,
.ql-picker-label > svg {
    filter: brightness(0) invert(1);
}

#content {
    display: none;
}

.form-div label {
    display: block;
    font-weight: 700;
}

#submit {
    width: 8em;
    height: 2em;
    border: none;
    cursor: pointer;
    color: white;
    background-color: black;
    font-weight: 700;
    margin: 2em;
    border-radius: 5px;
}

@media (min-width: 1024px) {
    #noticias-container:not(.hide) {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2em;
    }
}

.hide {
    display:  none;
}