@import url('lightmode.css');
@import url('menu-acessibilidade.css');
#news {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
        "hr    hr     hr"        "content  content content";
    grid-template-columns: 1fr 8fr 1fr;
    /* grid-template-rows: 170px 720px; */    grid-template-rows: 2fr 10fr;
    border-top: 1px solid #fff5;
    padding: 2em 1em;
    /* margin: 1em; */
}
#news-logo {
    max-height: 50%;
    margin: auto;
}
#news-blocks {
    box-sizing: border-box;
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 6fr 2fr;
    gap: 3.12em 5em;
}
.news-tile {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 2em;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #333;
    background-size: cover;
    box-sizing: border-box;
    justify-content: flex-end;
    border-radius: 5px;
}
.news-tile:hover {
    cursor: pointer;
    background-color: #444;
}
.news-text {
    background: rgba(0, 0, 0, .8);
    padding: 5px;
}
.news-text h3 {
    margin-top: auto;
    margin-bottom: 0.3em;
    color: white;
    font-family: "Poppins";
    font-size: .9em;
}
.news-text p {
    color: white;
    font-family: arial;
    line-height: 1.4em;
}
.bottom-tile {
    grid-column-end: span 2;
}
.bottom-tile .news-text p {
    margin-bottom: auto;
}
@media (max-width: 1040px) {
    #news-blocks {
        gap: 1.5em 2.5em;
    }
}
@media (max-width: 930px) {
    #news-blocks {
        grid-template-columns: 1fr 1fr;
    }
    .news-tile {
        max-width: 100%;
    }
    .news-tile:nth-of-type(3), 
    .news-tile:nth-of-type(4) {
        display: none;
    }
}
@media (max-width: 500px) {
    .news-tile:nth-of-type(1) {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .news-tile:nth-of-type(2) {
        display: none;
    }
    #news-logo{
        max-height: 4em;
    }
    #news{
        display: flex;
        flex-direction: column;
    }
}