html:not(textarea)::-webkit-scrollbar {
  width: 10px;
}

html:not(textarea)::-webkit-scrollbar-track {
  background: black;
}

html:not(textarea)::-webkit-scrollbar-thumb {
  background: darkgray;
}

html:not(textarea)::-webkit-scrollbar-thumb:hover {
  background: gray;
}