@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('normalize.css');
@import url('header.css');

:root {
    --bg-color: #0F0F0F;
    --main-color: #202020;
    --second-color: #0071CF;
    --main-font: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    background: var(--bg-color);

}

/* = Landing-page ================ */

.first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: left;

    width: 100%;
    height: 100vh;
    background-image: url(/assets/section-0image.svg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
}

#landing-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: left;
    margin-left: 8em;

    font-size: 14px;
    font-family: var(--main-font);
    margin-bottom: 100px;
}

.landing-btn {
    width: 150px;
    height: 48px;

    border: none;
    background: #0071CF;
    color: #fff;
    font-weight: 700;
    border-radius: 12px;
}

@media (min-width: 1024px) {
    #landing-text p, #landing-text h1 {
        font-size: 2.5em;
    }

}

#newsletter {
    text-align: center;
    margin-left: 2.5em;

    width: 65vw;
    height: 100vh;

    color: #fff;
    font-family: var(--main-font);
    background: linear-gradient(90deg, #0F0F0F 0%, #202020 100%);
    padding: 2em;
    border-radius: 1em;
}

#newsletter form input {
    border: #202020 solid 2px;
    background: #0F0F0F;
    color: #fff;
    width: 125px;
    height: 65px;
}